@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

:root {
    --BodyColor: #FAFDFF;
    --TextColor: #0C151D;
    --MainColor: #FFC024;
    --OneColor: #dfe5ea;
    --TwoColor: #8DACE2;
    --ThreeColor: #749ADC;
    --FourColor: #5C89D6;
    --FiveColor: #4377D0;
    --SixColor: #4377D0;
    --White: #FFFFFF;
    --Black: #000000;

    --GövdeFont: 'Inter', sans-serif;
    --h2FontBoyutu: 1.25rem;
    --h3FontBoyutu: 1rem;
    --NormalFontBoyutu: .938rem;
    --OrtaFontBoyutu: .813rem;
    --KüçükFontBoyutu: .75rem;
}

[data-theme="dark"] {
    --BodyColor: #0C151D;
    --TextColor: #BED0EF;
    --MainColor: #FFFF24;
    --OneColor: #162634;
    --TwoColor: #20374C;
    --ThreeColor: #2A4964;
    --FourColor: #345A7B;
    --FiveColor: #3D6B93;
    --SixColor: #477CAB;
    --White: #000000;
    --Black: #FFFFFF;
}

@media screen and (min-width: 968px) {
    :root {
        --h2FontBoyutu: 1.5rem;
        --h3FontBoyutu: 1.25rem;
        --NormalFontBoyutu: 1rem;
        --OrtaFontBoyutu: .875rem;
        --KüçükFontBoyutu: .813rem;
    }
}

::selection {
    background: var(--SixColor);
}

::-webkit-scrollbar-track {
    background-color: var(--BodyColor);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--MainColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Black);
    border-radius: 2rem;
}

section{
    scroll-margin: 20px;
    display: block;
}

body {
    line-height: 1;
    font-family: var(--GövdeFont);
    font-size: var(--NormalFontBoyutu);
    align-items: center;
    justify-content: center;
}

* {
    transition: background .3s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--TextColor);
    background: var(--BodyColor);
}

h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--Black);
}

.Kapsayıcı {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.OkulÜnvanı {
    color: var(--MainColor);
}

.Slogan {
    margin-bottom: 16px;
}

.Kategoriler-İsim .Başlık {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.ÜstBaşlık {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 7.5px;
    text-transform: uppercase;
    padding-left: 32px;
    position: relative;
    color: var(--TextColor);
    display: inline-block;
}

.ÜstBaşlık:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 16px;
    height: 2px;
    background: var(--TwoColor);
}

.SosyalMedya {
    display: flex;
    align-items: center;
}

.SosyalMedya li:not(:last-of-type) {
    margin-right: 32px;
}

.SosyalMedyaButon {
    width: 30px;
    height: auto;
    transition: transform .3s;
}

.SosyalMedyaButon:hover{
    transform: scale(1.10);
}

[data-aos=fade-up] {
    transform: translate3d(0, 30px, 0);
}

[data-aos=fade-down] {
    transform: translate3d(0, -30px, 0);
}

.Etiket {
    padding: 4px 8px;
    border: 1px solid var(--ThreeColor);
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--FourColor);
}

.Başlık {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 20px;
}

.Başlık.sticky {
    background: rgba(255, 255, 255, .85);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--OneColor);
}

[data-theme="dark"] .Başlık.sticky {
    background: rgba(12, 21, 29, .85);
}

.Başlık .Kapsayıcı {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Başlık .Logo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler {
    display: flex;
    align-items: center;
    line-height: 19px;
}

.Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler li:not(:last-of-type) {
    margin-right: 56px;
}

.Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler li.mobile-link {
    display: none;
}


.Başlık .Sağİçerik {
    display: flex;
    align-items: center;
}

.Başlık .TemaRengiButon {
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Başlık .TemaRengiButon svg {
    width: 24px;
    height: 24px;
    fill: var(--TextColor);
    cursor: pointer;
    transition: all .2s;
}

.Başlık .TemaRengiButon .sun {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

.Başlık .MobilMenüButon {
    width: 24px;
    height: 24px;
    fill: var(--TextColor);
    cursor: pointer;
    display: none;
}

[data-theme="dark"] .Başlık .TemaRengiButon .sun {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    position: initial;
}

[data-theme="dark"] .Başlık .TemaRengiButon .Ay {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

.Hakkimizda .Kapsayıcı {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.Hakkimizda .İçerik {
    padding-top: 64px;
}

.Hakkimizda .İçerik .OkulAdı {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    margin: 0 0 32px;
}

.Hakkimizda .İçerik .Hakkında {
    max-width: 538px;
    line-height: 32px;
    margin: 0 0 40px;
    text-indent: 1rem;
}

.HakkındaMail{
    color: var(--Black);
}

.OnlarNeDiyor-Kategoriler {
    padding: 104px 0 120px;
}

.OnlarNeDiyor-Kategoriler .Kapsayıcı {
    display: flex;
}

.OnlarNeDiyor-Kategoriler .İçerik {
    padding-top: 32px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateY(40px);
}

.OnlarNeDiyorBölüm {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--OneColor);
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem {
    background: var(--BodyColor);
    border-radius: 8px;
    padding: 83px 52px 25px 32px;
    position: relative;
    min-width: 357px;
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem {
    background: var(--TwoColor);
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem:not(:last-of-type) {
    margin-right: 48px;
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem .ProfilResmi {
    border-radius: 100px;
    border: 2px solid var(--TextColor);
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem .Metin {
    padding-bottom: 48px;
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem .İsim {
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
}

.OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem .MeslekBaşlık {
    background: var(--OneColor);
    color: var(--Black);
    border: none;
    display: inline-block;
}

.İletişim {
    padding: 25px;
    background: var(--OneColor);
}

.İletişim .İletişimKapsayıcı {
    display: flex;
    align-items: center;
}

.İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge .Icon {
    width: 56px;
    height: 56px;
    padding: 16px;
    background: var(--TwoColor);
    border-radius: 16px;
    margin-right: 24px;
}

.İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge .Icon svg {
    fill: var(--MainColor);
}

.İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge .İçerik .Başlık {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 4px;
}

.İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge .İçerik .İletişimBilgi {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--TextColor);
}

.AltBilgi {
    padding: 88px 0;
    text-align: center;
    align-items: center;
}

.AltBilgi .SosyalMedya {
    justify-content: center;
    margin-bottom: 24px;
}

.AltBilgi .Copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--TextColor);
}

.AltBilgi .Copyright .Kalın {
    font-weight: 500;
}

@media only screen and (max-width: 1280px) {
    .Kapsayıcı {
        padding: 0 60px;
    }

    .Hakkimizda .Kapsayıcı {
        margin-top: 125px;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem {
        min-width: initial;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem:not(:last-of-type) {
        margin-right: 32px;
    }
}

@media only screen and (max-width: 1150px) {
    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı {
        flex-wrap: wrap;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem {
        min-width: initial;
        width: calc(50% - 16px);
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 80px;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem:first-of-type {
        margin-right: 32px;
    }
}

@media only screen and (max-width: 1050px) {
    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler li:not(:last-of-type) {
        margin-right: 40px;
    }

    .Hakkimizda .İçerik .Hakkında {
        margin: 0 64px 40px 0;
    }
}

@media only screen and (max-width: 992px) {

    .Kategoriler-İsim .Başlık {
        font-size: 32px;
    }

    .Başlık {
        margin-top: 5px;
        border-bottom: 2px solid var(--BodyColor);
    }

    .Başlık.sticky{
        border-bottom: 2px solid var(--OneColor);
    }

    .Başlık .MobilMenüButon {
        display: block;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler {
        display: initial;
        position: absolute;
        right: 62px;
        top: 70px;
        padding: 16px 24px;
        background: var(--BodyColor);
        line-height: 32px;
        width: 170px;
        border-radius: 0 0 4px 4px;
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler.Aktif {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler li:not(:last-of-type) {
        margin-right: 0;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler li.mobile-link {
        display: block;
    }

    .Hakkimizda .İçerik {
        padding-top: 48px;
    }

    .Hakkimizda .İçerik .OkulAdı {
        text-align: left;
        font-size: 40px;
        margin: 0 0 16px;
    }

    .service-Kategoriler {
        padding: 82px 0 88px;
        margin: 164px 0 0;
    }

    .portfolio-Kategoriler {
        padding: 80px 0 104px;
    }

    .portfolio-Kategoriler .portfolio-ItemKapsayıcı {
        margin-top: 96px;
    }

    .OnlarNeDiyor-Kategoriler {
        padding: 80px 0 96px;
    }

    .OnlarNeDiyor-Kategoriler .Kapsayıcı {
        flex-wrap: wrap;
    }
    
    .OnlarNeDiyor-Kategoriler .İçerik {
        padding-top: 40px;
    }

    .OnlarNeDiyor-Kategoriler .İçerik .responsibilities {
        padding-left: 20px;
    }

    .OnlarNeDiyor-Kategoriler .İçerik .responsibilities li:after {
        left: -16px;
        width: 4px;
        height: 4px;
        border-radius: 10px;
    }

    .EmeğiGeçenler-Kategoriler {
        padding: 80px 0;
    }

    .OnlarNeDiyorBölüm {
        padding: 80px 0 88px;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı {
        padding-top: 104px;
    }

    .İletişim {
        padding: 72px 0 88px;
    }

    .AltBilgi {
        padding: 72px 0;
    }
}

@media only screen and (max-width: 768px) {
    .Kapsayıcı {
        padding: 0 32px;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler {
        right: 34px;
    }

    .Hakkimizda .Kapsayıcı {
        flex-wrap: wrap;
        margin-top: 93px;
        padding: 0 56px;
    }

    .Hakkimizda .İçerik {
        order: 1;
        padding-top: 80px;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem {
        width: 100%;
    }

    .OnlarNeDiyorBölüm .OnlarNeDiyorItemKapsayıcı .OnlarNeDiyoritem:first-of-type {
        margin-right: 0;
    }

    .İletişim .İletişimKapsayıcı {
        flex-wrap: wrap;
    }

    .İletişim .İletişimKapsayıcı .İletişimBİlgi {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 576px) {
    .Kapsayıcı {
        padding: 0 24px;
    }

    .ÜstBaşlık {
        margin-bottom: 8px;
    }

    .Kategoriler-İsim .Başlık {
        font-size: 30px;
    }

    .Başlık {
        margin-top: 0;
    }

    .Başlık .BaşlıkÇubuğu .BaşlıkÇubuğuLinkler {
        width: 100%;
        right: 0;
        line-height: 40px;
    }

    .Hakkimizda .İçerik .OkulAdı {
        font-size: 36px;
        margin: 0 0 8px;
    }

    .Hakkimizda .İçerik .Hakkında {
        margin: 0 0 32px 0;
    }

    .Hakkimizda .İçerik .SosyalMedya {
        margin-left: 2px;
    }

    .İletişim .İletişimKapsayıcı .İletişimBİlgi .İletişimBİlgiOge {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 480px) {
    .Hakkimizda .Kapsayıcı {
        padding: 0 32px;
    }
}

.OnlarNeDiyoritem img {
    width: 120px;
    height: 120px;
}

.İletişimBİlgi {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.Logo img {
    height: 45px;
}

.kapakkoyu {
    position: relative;
    object-fit: fill;
    border-radius: 4%;
    padding: 5px;
    max-height: 600px;
    max-width: 87%;
    margin-bottom: 3rem;
    justify-self: center;
    transition: all .3s;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

[data-theme="dark"] .kapakkoyu {
    opacity: 1;
}

.kapakaçık {
    position: absolute;
    object-fit: fill;
    border-radius: 4%;
    padding: 5px;
    max-height: 600px;
    max-width: 87%;
    margin-bottom: 3rem;
    justify-self: center;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 1;
    transition: all .3s;
    z-index: 1;
}

[data-theme="dark"] .kapakaçık {
    opacity: 0;
}

.kapak {
    justify-content: center;
}

.OkulResmi {
    max-width: 400px;
    border-radius: 20px;
    transition: transform .3s;
}

.OkulResmi:hover {
    transform: scale(1.07);
}

@media only screen and (max-width: 768px) {
    .OkulResmi {
        max-width: 80%;
    }
}

.Hakkimizda {
    background: var(--OneColor);
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,
h2,
h3 {
    font-weight: 600;
    text-align: center;
    justify-self: center;
    cursor: default;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Izgara {
    display: grid;
    gap: 1.5rem;
}

.Kategorilerİçerik {
    row-gap: 3.5rem;
    cursor: default;
}

.KategorilerBaşlık {
    font-size: var(--h3FontBoyutu);
    text-align: center;
    margin-bottom: 1.5rem;
}

.Kategorilerbox {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.Kategorilergroup {
    display: grid;
    align-content: center;
    row-gap: 1rem;
}

.KategorilerVeri {
    display: flex;
    column-gap: .5rem;
}

.KategorilerVeri i {
    font-size: 1rem;
    color: var(--TwoColor);
}

.Kategorilerİsim {
    font-size: var(--NormalFontBoyutu);
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    
    word-wrap: break-word;  
}

.Kategorilerlevel {
    font-size: var(--KüçükFontBoyutu);
}

@media screen and (min-width: 776px) {
    .projectsİçerik,
    .Kategorilerİçerik {
        grid-template-columns: repeat(2, 332px);
    }

    .Kategorilerİçerik {
        justify-content: center;
        column-gap: 3rem;
    }
}

.Kategoriler {
    text-align: center;
    padding: 25px;
}

.KategorilerKapsayıcı {
    row-gap: 3.5rem;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.KategorilerBaşlık {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--OrtaFontBoyutu);
    font-weight: var(--font-semi-Kalın);
    margin-bottom: 2.5rem;
}

.KategorilerBaşlık i {
    font-size: 1rem;
    font-weight: initial;
}

.KategorilerBilgi,
.KategorilerVeri,
.KategorilerDamla {
    display: grid;
    transition: .3s;
}

.KategorilerBilgi {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2rem;
    cursor: default;
}

.KategorilerVeri {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.KategorilerDamla {
    width: 80px;
    height: 100px;
    background-color: var(--OneColor);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
    justify-self: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.KategorilerDamla img {
    width: 40px;
    cursor: pointer;
}

.KategorilerVeri a {
    cursor: pointer;
}

.Kategorilerİsim {
    font-size: var(--OrtaFontBoyutu);
    margin-top: 0;
    cursor: pointer;
}

.KategorilerAltBaşlık {
    font-size: var(--tiny-font-size);
    color: var(--Black);
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .KategorilerBilgi {
        grid-template-columns: repeat(3, 1fr);
    }
}

.KategorilerDamla:hover img {
    animation: bounce-Kategoriler .6s;
}

@keyframes bounce-Kategoriler {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

@media screen and (min-width: 992px) {
    .KategorilerBaşlık {
        font-size: var(--NormalFontBoyutu);
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 776px) {
    .Kategorilerİçerik {
        grid-template-columns: repeat(2, 332px);
    }

    .Kategorilerİçerik {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .Kategorilerbox {
        column-gap: 1rem;
    }
}

.EmegiGecenler-kutu {
    width: 300px;
    justify-self: center;
    align-self: center;
    text-align: center;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

.EmegiGecenler-kutu h2 {
    padding: 0px 0px;
    font-size: 20px;
    cursor: default;
}

.EmegiGecenler-kutu ul {
    position: relative;
    width: 100%;
    display: table;
    cursor: default;
}

.EmegiGecenler-kutu ul:hover li {
    opacity: 0.4;
}

.EmegiGecenler-kutu ul li {
    list-style: none;
    padding: 10px;
    margin: 0px;
    width: 100%;
    border-radius: 5rem;
    transition: all .3s;
}

.EmegiGecenler-kutu ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    opacity: 1;
    background: var(--BodyColor);
    color: var(--TextColor);
}

.EmegiGecenler {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.BölümBaşlık {
    margin-top: 30px;
    padding-top: 30px;
}