@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

:root {
    --Sarı: #FFC024;
    --AçıkRenk1: #FAFDFF;
    --AçıkRenk2: #F5F3FE;
    --KülRengi: #232E35;
    --AçıkKülRengi: #656D72;
    --AçıkRenk3: #f1f1f1;
    --AçıkRenk4: #f5f5f5;
    --AçıkRenk5: #D9D9D9;
    --AçıkRenk6: #FBFBFB;
    --BeyazRenk: #FFFFFF;

    --GövdeFont: 'Poppins', sans-serif;
    --h2FontBoyutu: 1.25rem;
    --h3FontBoyutu: 1rem;
    --NormalFontBoyutu: .938rem;
    --OrtaFontBoyutu: .813rem;
    --KüçükFontBoyutu: .75rem;
}

[data-theme="dark"] {
    --Sarı: #FFFF24;
    --AçıkGeceYarısı: #0C151D;
    --DahaAçıkGeceYarısı: #33394D;
    --AçıkRenk6: #161F27;
    --AçıkRenk3: #35394a;
    --KülRengi: var(--BeyazRenk);
    --AçıkKülRengi: #dddddd;
    --AçıkRenk5: #51576c;
    --AçıkRenk2: rgba(126, 116, 241, .04);
    --DamlaArkaPlan: #171F26;
}

@media screen and (min-width: 968px) {
    :root {
        --h2FontBoyutu: 1.5rem;
        --h3FontBoyutu: 1.25rem;
        --NormalFontBoyutu: 1rem;
        --OrtaFontBoyutu: .875rem;
        --KüçükFontBoyutu: .813rem;
    }
}

::selection {
    background: #e7e7e7;
}

[data-theme="dark"] ::selection {
    background: var(--AçıkRenk3);
}

::-webkit-scrollbar-track {
    background-color: var(--AçıkRenk6);
}

[data-theme="dark"] ::-webkit-scrollbar-track {
    background-color: var(--AçıkGeceYarısı);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--Sarı);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Sarı);
}

html,
body,
div,
span,
applet,
object,
iframe,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
nav,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
nav,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: var(--GövdeFont);
    font-size: var(--NormalFontBoyutu);
    align-items: center;
    justify-content: center;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    transition: background .3s;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--KülRengi);
    align-items: center;
}

[data-theme="dark"] body {
    background: var(--AçıkGeceYarısı);
    color: var(--AçıkKülRengi);
}

h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', serif;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
    color: var(--BeyazRenk);
}

.Kapsayıcı {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.Liste h2{
    padding: 10px 20px;
}

.ListeKutusu{
    position: relative;
}

.ListeKutusu li{
    list-style: none;
    padding: 10px;
    width: 100%;
    
}